<head>
  <meta charset="UTF-8">
  <title>Document</title>

  <!-- local stylesheet -->
  <link rel="stylesheet" href="/css/main.css" type="text/css">

  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css">
  <link rel="stylesheet" href="http://getbootstrap.com/examples/dashboard/dashboard.css">
  <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

  <script src="/js/jquery.js"></script>
  <script src="/js/main.js"></script>
</head>
