<% layout('main') -%>

<div class="container" id="index">

  <div class="row">
    <div class="row">
      <h3>Welcome to Allthingsfrenchie, LLC</h3>
    </div>
    <br>
    <div class="col-md-4"></div>
    <div class="col-md-4 center-block">
      <a class="btn btn-primary center-block" href="/users/login" role="button"> Click Here to Login</a>
    </div>
    <div class="col-md-4"></div>

  </div>

</div>
